* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #121725;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

input,
button,
textarea,
select {
    font: inherit;
}

.bg-pattern,
.bg-img-tablet,
.bg-img-desktop {
    display: none;
}

.wrapper {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    padding: 130px 0 130px 165px;
    background-color: #121725;
    z-index: -2;
}

.bg-img-desktop {
    display: block;
    position: absolute;
    right: 0;
    z-index: -1;
}

.bg-pattern {
    display: block;
    position: absolute;
    right: 0;
    bottom: 77.5px;
    z-index: 1;
}

.header {
    margin-top: -28px;
    margin-bottom: 103px;

    &__logo {
        display: block;
    }
}
