* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #121725;
}

input,
button,
textarea,
select {
    font: inherit;
}

//

.bg-pattern,
.bg-img-tablet,
.bg-img-desktop {
    display: none;
}

.wrapper {
    max-width: 1440px;
    height: 900px;
    margin: 0 auto;
    padding: 130px 0 130px 165px;
    background-color: #121725;
    position: relative;
}

.bg-img-desktop {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1;

    // 888/16=55.5
    @media only screen and (max-width: 55.5em) {
        width: 100%;
    }

    // 768/16=48
    @media only screen and (max-width: 48em) {
        display: none;
    }
}

.bg-pattern {
    display: block;
    position: absolute;
    right: 0;
    bottom: 77.5px;
    z-index: 2;
}
