.header {
    margin-top: -28px;

    position: absolute;
    z-index: 3;

    @media only screen and (max-width: 48em) {
        margin-top: revert;
        top: 50px;
        left: 39px;
    }

    @media only screen and (max-width: 36.25em) {
        position: revert;
        top: revert;
        left: revert;
        margin: 0 auto;
        padding-top: 62px;
        padding-bottom: 57px;
    }

    &__logo {
        display: block;

        @media only screen and (max-width: 36.25em) {
            margin: 0 auto;
        }
    }
}
