.header {
    margin-top: -28px;

    position: absolute;
    z-index: 3;

    @media only screen and (max-width: 48em) {
        margin-top: revert;
        top: 50px;
        left: 39px;
    }

    &__logo {
        display: block;
    }
}
